:root {
    --left-blue: #0A1F62;
    --right-red: #D80025;
    --middle-white: #FFFFFF;
    --brown-eagle: #69310B;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ancizar Serif";
}

header {
    background-color: var(--left-blue);
    color: var(--middle-white);
    text-align: center;
    border-bottom: 1.4rem solid var(--right-red);
    padding: 1.6rem;
    font-size: 24px;
}

.hero {
    position: static;
}

.hero-picture, .hero-image {
    width: 100%;
    height: auto;
}

.hero-image {
    border-bottom: 0.4rem solid var(--right-red);
}

main {
    width: 100%;
    margin: 0 auto;
}

.weather-icon {
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    background-color: var(--left-blue);
    color: var(--middle-white);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

h2 {
    text-align: center;
    padding: 1rem;
    color: var(--brown-eagle);
    font-size: 28px;
}

/* Media query for large size! */
@media screen and (min-width: 800px) {
    .hero {
        position: relative;
    }


    /* FIX THIS FOR HERO IMAGE SIZING IN LARGE */
    
    /* .hero-image {
        object-fit: cover;
    } */

    #data-section {
        position: absolute;
        top: 30px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .smaller-parent {
        position: relative;
    }

    h2 {
        background-color: rgba(216, 0, 37, 0.9);
        position: absolute;
        left: -10px;
        top: 8px;
        width: 75%;
        text-align: left;
        color: var(--middle-white);
    }

    ul {
        padding-top: 5rem;
        list-style: none;
        padding-right: 3rem;
    }

    #weather-section {
        position: absolute;
        bottom: 25px;
        right: 40px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .weather-icon {
        display: none;
    }

    .weather-heading::after {
        content: "   ⛅";
        white-space: pre-wrap;
    }
}