:root {
    --left-blue: #0A1F62;
    --right-red: #D80025;
    --middle-white: #FFFFFF;
    --brown-eagle: #69310B;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ancizar Serif";
}

header {
    background-color: var(--left-blue);
    color: var(--middle-white);
    text-align: center;
    border-bottom: 1.4rem solid var(--right-red);
    padding: 1.6rem;
    font-size: 24px;
}

.hero {
    position: static;
}

.hero picture, .hero img {
    width: 100%;
    height: auto;
}

.hero img {
    border-bottom: 0.4rem solid var(--right-ride);
}

main {
    width: 100%;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: var(--left-blue);
    color: var(--middle-white);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

h2 {
    text-align: center;
    padding: 1rem;
    color: var(--brown-eagle);
    font-size: 30px;
}

/* Media query for large size! */
@media screen and (min-width: 1000px) {
    
}